body {
  font-family: 'Comfortaa', cursive;
}

.nav .current {
  color: #c568aa;
}

a {
  color: #9b9b9b;
  text-decoration: none;
}

a:hover {
  color: #468dcb;
}

.logo {
  text-align: left;
}

.nav {
  text-align: right;
}

.nav a {
  text-decoration: none;
}

header ul {
  list-style-type: none;
}

span {
  color: #c568aa;
}

.first {
  color: #468dcb;
  display: none;
}

h1 {
  color: #cf3339
}

.btn-ghost {
  border-color: #0071ce;
  border-radius: 20px;
}

.btn-ghost:hover {
  border-color: #0071ce;
  background-color: #0071ce;
  color: #fff;
}

.case-1 {
  color: #0071ce;
}

.info {
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .first {
    display: inline;
  }

  .info {
    text-align: left;
    padding-left: 5px;
  }

}
