<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}Adam Van-Vianen • Designer, UI/UX, Motion Graphics, Case Studies • Ottawa, Canada</title>

  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{page.title}} • {% endif %}Adam Van-Vianen • Designer, UI/UX, Case Studies • Ottawa, Canada">
  <meta property="og:url" content="https://adamvanvianendesign.ca">
  <meta property="og:image" content="http://localhost:4000/index/">
  <meta property="og:site_name" content="Adam Van-Vianen">
  <meta property="og:description" content="{{page.meta}}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} • {% endif %}Adam Van-Vianen • Designer, UI/UX, Case Studies • Ottawa, Canada">
  <meta name="twitter:url" content="https://adamvanvianendesign.ca">
  <meta name="twitter:description" content="{{page.meta}}">
  <meta name="twitter:image" content="http://localhost:4000/index/">

  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
</head>
<body class="max-length">

  <article itemscope itemtype="https://schema.org/CreativeWork">

    <header class="masthead grid grid-middle" role="banner">

      <div class="logo unit xs-1-2 s-1-2 m-1-2 l-1-2 gutter-1-4 pad-t-1-2">
        <a href="{{site.baseurl}}/">
          <i class="icon i-32"><img itemprop="image" src="{{site.baseurl}}/images/logo.svg" alt="Adam's logo" aria-details="logo"></i>
        </a>
        <span itemprop="name" class="icon-label milli pad-t-1-2 gutter-1-4"><span itemprop="name" class="first">Adam</span> Van-Vianen</span>
      </div>

      <nav class="nav unit xs-1-2 s-1-2 m-1-2 l-1-2 pad-t" role="navigation" id="nav">
        <ul class="list-group-inline push-0">
          <li>
            <a class="milli gutter-1-2 nav-work {% unless page.url contains 'about' %}current{% endunless %}" href="{{site.baseurl}}/" aria-label="Click here to see Adam's work">Work</a>
          </li>
          <li>
            <a class="milli gutter-1-2 nav-about {% if page.url contains 'about' %}blue{% endif %}" href="{{site.baseurl}}/about/" aria-label="Click here to learn more about Adam">About</a>
          </li>
        </ul>
      </nav>

    </header>

    <main role="main">
      {{content}}
    </main>

    <footer class="text-center" role="footer">
      <a href="{{site.baseurl}}/mailto:contact@adamvanvianendesign.ca"class="bold contact" aria-label="Click here to email Adam">contact@adamvanvianendesign.ca</p>
    </footer>

  </article>

</body>
</html>
