<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}Adam Van-Vianen • Designer, UI/UX, Case Studies • Ottawa, Canada</title>

  <meta property="og:type" content="article">
  <meta property="og:title" content="Adam Van-Vianen • Designer, UI/UX, Case Studies • Ottawa, Canada">
  <meta property="og:url" content="https://adamvanvianendesign.ca">
  <meta property="og:image" content="images/logo.svg">
  <meta property="og:site_name" content="Adam Van-Vianen">
  <meta property="og:description" content="An Ottawa graphic designer's portfolio full of case studies that focus on UI/UX design, Branding, Logo dsign, and much more.">

  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
</head>
<body class="max-length">

  <header class="masthead grid grid-middle" role="banner">

    <div class="logo unit xs-1-2 s-1-2 m-1-2 l-1-2 gutter-1-4 pad-t-1-2">
      <a href="{{site.baseurl}}/index/">
        <i class="icon i-32"><img src="{{site.baseurl}}/images/logo.svg" alt=""></i>
      </a>
      <span class="icon-label milli pad-t-1-2 gutter-1-4"><span class="first">Adam</span> Van-Vianen</span>
    </div>

    <nav class="nav unit xs-1-2 s-1-2 m-1-2 l-1-2 pad-t" role="navigation" id="nav">
      <ul class="list-group-inline push-0">
        <li>
          <a class="milli gutter-1-2 nav-work {% unless page.url contains 'about' %}current{% endunless %}" href="{{site.baseurl}}/index/">Work</a>
        </li>
        <li>
          <a class="milli gutter-1-2 nav-about {% if page.url contains 'about' %}blue{% endif %}" href="{{site.baseurl}}/about/">About</a>
        </li>
      </ul>
    </nav>

  </header>

  <main>
    {{content}}
  </main>

  <footer class="text-center">
    <a href="{{site.baseurl}}/mailto:contact@adamvanvianendesign.ca/"class="bold contact">contact@adamvanvianendesign.ca</p>
  </footer>

</body>
</html>
